body{
    background-color: dimgrey;
    color: antiquewhite;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
}

hr {
    color:antiquewhite;
}

header { 
    clear:both;}

/*Menu*/
nav {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    background-color:#00394d;;
    width: 100%;
    border: none;
}
nav ul li {
    list-style-type: none;
    display: inline;
    text-align: center;
    }

nav a{
    display:inline-block;
    text-decoration:none;
    text-align:center;
    color:#ecf2f9;
    padding:30px;
}

/*Link Colors*/


nav a:visited{
    color: #c6d9ec;
}

nav a:hover{
    color: #6699cc;
    background-color: antiquewhite;
}

nav a:active{
    color: #e6f2ff;
}

/*Text*/

.narration {
    display: inline-block;
    margin-top:10px;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #0086b3;
    font-family: 'Special Elite', cursive;
    line-height: 1.5em;
    padding:20px;    
}

footer {
    display: block;
    clear: both;
    text-align: center;
    font-size: smaller;
    background-color: #00394d;
    color: antiquewhite;
    padding: 5px;
}

/*Participation*/

.form {
    font-weight: bold; 
    margin-left:15%;
    padding: 5px;
    }

label {
    display: inline-block; 
    width: 20%;
    margin-right: 40px;
    text-align: right;
    
}

.submit {
    margin-left: 40%;
}

/*FAQ*/

.accordion {
    font-family: 'Special Elite', cursive;
    color: antiquewhite; 
    font-weight: bold;
    font-size: larger;
    line-height: 1.5em;
    background-color: #0086b3;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;   
}

.accordion:hover{
    background-color: #0099cc;
}

.panel {
    font-family: sans-serif; 
    padding: 15px; 
    background-color: #0099cc;
    display: none;
    overflow: hidden;
}

.panel show{
    display: block;
}

/*Process*/

.step {
    color: antiquewhite;
    background color:#0099cc;
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin: 25px;
    padding: 10px; 
}