* {
    box-sizing: border-box;
}

body{
    background-image:url(Images/BlueInk.jpg);
    background-position: center;
    background-size:cover;
    color: antiquewhite;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
}

hr {
    color:antiquewhite;
}

header { 
    clear:both;}

/*Menu*/


nav {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
    background-color:#00394d;
    width: 100%;
    border: none;
}
nav ul li {
    list-style-type: none;
    display: inline;
    text-align: center;
    }

nav a{
    display:inline-block;
    text-decoration:none;
    text-align:center;
    color:#ecf2f9;
    padding:30px;
}

/*Link Colors*/


nav a:visited{
    color: #c6d9ec;
}

nav a:hover{
    color: #6699cc;
    background-color: antiquewhite;
}

nav a:active{
    color: #e6f2ff;
}

a {
   text-decoration:none;
}


/*Text*/

.narrationLeft {
    display: inline-block;
    margin-top:10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 35%;
    background-color: #0086b3;
    font-family: 'Special Elite', cursive;
    line-height: 1.5em;
    padding:20px;
    float: left;
}

.narrationRight {
    display: inline-block;
    margin-top:10px;
    margin-right: 5%;
    margin-left: 5%;
    width: 35%;
    background-color: #0086b3;
    font-family: 'Special Elite', cursive;
    line-height: 1.5em;
    text-align:right;
    padding:20px;
    float: right;
}

.narrationCenter{
    display:inline-block;
    margin-top:10px;
    margin-left:35%;
    margin-right:35%;
    background-color: #0086b3;
    text-align:center;
    font-family: 'Special Elite', cursive;
    line-height: 1.5em;
    padding: 20px;
}

footer {
    display: block;
    clear: both;
    text-align: center;
    font-size: smaller;
    background-color: #00394d;
    color: antiquewhite;
    padding: 5px;
}

.attributionRight {
    font-size: .7em;
    font-family: sans-serif;
    text-align: right;
    color: antiquewhite;
    margin-top:0px;
    text-decoration:none;
    }

.attributionLeft {
    font-size: .7em;
    font-family: sans-serif;
    text-align: left;
    color: antiquewhite;
    margin-top:0px;
    text-decoration:none;
    }

.attributionCenter {
    font-size: .7em;
    font-family: sans-serif;
    text-align: center;
    color: antiquewhite;
    margin-top:0px;
    text-decoration:none;
    }
}

/*LandingPage*/

#landingImageRight {
    margin-right: 25%;
    margin-top: 10px;
    text-align: right;
}

#landingImageLeft {
    margin-left: 10%;
    margin-top: 10px;
    text-align:left;
}

/*Participation*/

.submissionBox {
    background-color: #0086b3;
    border-style:groove;
    border-color: antiquewhite;
    margin-right: 20%;
    margin-left: 20%;
    padding:15px;
}

.form {
    font-weight: bold; 
    margin-left:15%;
    padding: 15px;
    width: 66%;
    }

label {
    display: inline-block; 
    width: 20%;
    margin-right: 40px;
    text-align: right;
}

#return {
    background-color: #6699cc;
    text-align: center;
    padding: 10px;
    margin:5%;
}

.submit {
    margin-left: 40%;
}

.formInstructions {
    margin-left:20%;
    margin-right:20%;
    padding:10px;
}

/*FAQ*/

.faqAccordion { 
    display: inline-block;
    margin-top:10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    width: 90%;
    background-image: url(Images/BlueInk.jpg);
    font-family: 'Special Elite', cursive;
    line-height: 1.5em;
    padding:20px;
    float: left;
    
}

.accordion {
    font-family: 'Special Elite', cursive;
    color: antiquewhite; 
    font-weight: bold;
    font-size: larger;
    line-height: 1.5em;
    background-color: #0086b3;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.5s;   
}

.active, .accordion:hover{
    background-color: #0099cc;
}

.panel {
    font-family: sans-serif; 
    padding:15px; 
    background-color: #0099cc;
    display: none;
    overflow: hidden;
}

.panel show{
    display: block;
}

/*Process*/

.step {
    color: antiquewhite;
    background color:#0099cc;
    font-family: 'Special Elite', cursive;
    text-align: center;
    margin: 25px;
    padding: 10px; 
}

.stepImageLeft {
    display:inline-grid;
    float:left;
}
/*Gallery*/

caption { font-family:'Special Elite', Serif;
    text-align: center;
    font-weight: bolder;
    font-size: 1.4em;
    padding: 10px;
}

table {
    margin-left:25%;
    margin-right:25%;
    border:thin solid antiquewhite; 
    border-collapse:collapse;
    padding: 10px;
    float: none;
}

th, td {
    border: thin solid antiquewhite;
    border-collapse: collapse;
    padding: 20px;
}

th {
    font-family:'Special Elite', serif;
    font-weight:bold;
    font-size: 1.2em;
    background-color: #00bfff;
}

.cellcolor {
    background-color: #007399;
}


.cellcolor2 {
    background-color:#0099cc;
}

.illustrationCenter {
    margin-left:33%;
    margin-right:33%;
}

.illustrationLeft {
    margin-left:10%;
    margin-right:66%;
}

.illustrationRight {
    margin-left:66%;
    margin-right:10%
    float:right;
}

.inverse {
    color:black;
}
/*About*/

.ProfilePic {
    display: inline-block;
    float:left;
}

aside {
    background-color: #0099cc;
    font-family: serif;
    line-height:1.3em;
    text-align:justify;
    padding:15px;
    width: 20%;
    margin: 20px;
    float:left;
}